:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --color-secondary-black: #000000;
  --color-secondary-yellow: #ffd02b;
  --color-radius: #d9d9d9;
  --color-fill: #011f4a;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;
